@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif !important;
 
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    background-color: inherit !important;
    position: absolute !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
background-color: inherit !important;
color: #fff !important;
border-color: #fff !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover{
    background-color:  #fff !important;
    color: #000 !important;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    position:  sticky !important;
}
.swiper {
    height: 400px !important;
}
.imageSection{
    background-image: url('./assets/bg.png');
    background-size:cover;
}
.imageItem{
    width: 200px !important;

}
img{
    max-width: auto !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    border-bottom: none !important;
    background-color: #0066e1;
    color: #fff !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    width: 18% !important;
}.css-1ujnqem-MuiTabs-root {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
