.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    background-color: inherit !important;
    position: absolute !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
background-color: inherit !important;
color: #fff !important;
border-color: #fff !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover{
    background-color:  #fff !important;
    color: #000 !important;
}
.icon-menu{
    color: #fff !important;
}